{% import "macros.twig" as macros %}

{% if in_component_library %}
  {% set context = '@context' %}
{% else %}
  {% set context = 'context.twig' %}
  {% set image = {
    srcset: image.sizes.Hero,
    src: image.sizes.Hero,
    alt: image.alt
  } %}
{% endif %}

<div class="home-hero relative h-[calc(100vh_-_145px)] md:h-[calc(100vh_-_100px)] overflow-hidden md:[&+.carousel]:mt-[-30px]">
  <div
    class="home-hero__bottom absolute bottom-0 left-0 w-full pt-24 pb-[30px] space-y-12 md:space-y-20"
    style="background: linear-gradient(180deg, rgba(1, 33, 105, 0) 0%, rgba(14, 20, 34, 0.4) 25%)"
  >
    <div class="home-hero__inner grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto">
      <div class="home-hero__main md:col-start-6 md:col-span-7">
        {% include context with {
          size: 'xlarge',
          type: 'light',
          arrow: true,
          reverse: true,
          date: true,
          heading: heading,
          buttons: {
            items: buttons,
          },
        } %}
      </div>
    </div>
    {% if caption %}
      <div class="home-hero__inner max-w-screen-2xl w-full px-5 my-0 mx-auto">
        <div class="font-extended font-bold text-12 tracking-8 text-canary uppercase text-right md:text-left">
          {{ caption }}
        </div>
      </div>
    {% endif %}
  </div>
  {% if video %}
    <video class="z-[-10] absolute min-w-full min-h-full w-auto h-auto bg-repeat bg-cover top-0 right-0 bottom-0 left-0 object-cover" autoplay muted loop>
      <source src="{{ video }}" type="video/mp4">
    </video>
  {% else %}
    {{ macros.picture(
      'z-[-10] absolute top-0 left-0 w-full h-full object-cover',
      image.srcset,
      image.src,
      image.src,
      image.srcset,
      image.alt,
      in_component_library
    ) }}
  {% endif %}
</div>
