{% if in_component_library %}
  {% set articleGrid = '@article-grid' %}
{% else %}
  {% set articleGrid = 'article-grid.twig' %}
  {% set image_orientation = 'rectangle' %}
{% endif %}

<div class="related-content space-y-20">
  <div class="related-content__inner grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto">
    <h2 class="md:col-span-12 font-extended font-bold text-18 leading-120 text-indigo tracking-8 uppercase text-center">{{ heading }}</h2>
  </div>
  <div class="related-content__inner max-w-screen-2xl w-full px-5 mx-auto">
    {% include articleGrid with {
      columns: 4,
      items: items,
    } %}
  </div>
</div>