{% extends "error.twig" %}


{% block content %}

    <div class="page__main">
        <div class="hero relative py-24 md:py-48 mb-8">
            <div class="hero__pattern z-[-1] absolute bg-notfound__pattern top-0 left-0 w-full h-full bg-cover bg-center !mt-0"></div>
        </div>
        <div class="mx-auto max-w-screen-2xl px-5">
		    <h2 class="font-extended font-normal text-24 leading-110 text-indigo mb-5">Page Not Found</h2>
        <p>
            Sorry, we couldn't find the page you were looking for. Please try our 
            <button><modal
      :full="true"
      classes="w-screen h-screen top-0"
    >
      <template v-slot:content>
        <div class="md:grid md:grid-cols-12 w-full max-w-screen-2xl px-5 my-0 mx-auto md:mt-20 mt-16">
          <div class="md:col-span-12">
            <component is="search"></component>
          </div>
        </div>
      </template>
      <template
        v-slot:button
      >
        <span
          class="text-inherit underline hover:no-underline transition-all duration-200 ease-in-out"
          href="/"
        >
          Search
        </span>
      </template>
    </modal></button> or visit the <a href="/">Colby.edu Homepage</a>.
        </p>
	</div>
    </div>
{% endblock %}
