{% extends "base.twig" %}

{% block content %}
  {% include 'hero.twig' with {
    subheading: 'Department News',
    heading: category_obj[0].name,
    paragraph: category_obj[0].description,
  } %}
  <section class="sidebar-page">
    <div class="sidebar-page__inner md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto md:mt-20 mt-16">
      <div class="sidebar-page__secondary md:col-span-3 xl:col-span-2 mb-16 md:mb-0
        [&>div+div]:mt-7"
      >
      </div>
      <div class="sidebar-page__main xl:col-start-4 md:col-span-9">
        {% include 'article-grid.twig' with {
          columns: 3,
          items: posts|map(i => {
            post: i,
          })
        } %}
      </div>
    </div>
  </section>
{% endblock %}