{% extends "base.twig" %}

{% block content %}
	<div class="page__main relative max-w-screen-2xl w-full px-5 mt-8 mx-auto 
    [&>div>div>h2]:font-extended [&>div>div>h2]:font-normal [&>div>div>h2]:text-24 [&>div>div>h2]:leading-110 [&>div>div>h2]:-tracking-3 [&>div>div>h2]:text-indigo [&>div>div>h2]:mb-5">
		{{ post.content }}
	</div>
{% endblock %}
