{% extends "base.twig" %}

{% block content %}
<section class="search min-h-[40vh]">
  <div class="md:grid md:grid-cols-12 w-full max-w-screen-2xl px-5 my-0 mx-auto md:mt-20 mt-16">
    <div class="md:col-span-12">
      {% include 'search.twig' %}
    </div>
  </div>
</search>
{% endblock %}