{% extends "base.twig" %}

{% block content %}
	<div class="page__main
	[&>div+div]:mt-20 md:[&>div+div]:mt-[100px]
	[&>.article-grid]:px-5
	[&>.overlay-wide-image]:px-5
	[&>.media-context]:px-5">
		{{ post.content }}
	</div>
{% endblock %}
