{% extends "base.twig" %}
{% import "icons.twig" as icons %}

{% block content %}
<section class="sidebar-page">
  <div class="sidebar-page__inner max-w-screen-2xl w-full px-5 my-0 mx-auto mt-8">
    <a class="inline-flex items-center font-body text-14 md:text-10 font-normal md:font-medium leading-140 text-indigo-800 py-1.5 hover:text-indigo hover:underline" href="/people/people-directory">
      {{ icons.icon('chevron', 'w-1 fill-indigo-800 mr-2') }}Back to Index
    </a>
  </div>
  <div class="sidebar-page__inner md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto mt-16">
    <div class="sidebar-page__secondary md:col-span-3 xl:col-span-2 mb-16 md:mb-0
      [&>div+div]:mt-7"
    >
      {% include 'subpage-nav.twig' with {
        heading: 'People',
        items: people_menu.items,
        menu_obj: true,
      } %}
    </div>
    <div class="sidebar-page__main directory-person-main xl:col-start-4 md:col-span-9 space-y-16">
      {% include 'directory-card.twig' with {
        type: 'people',
        name: post.title,
        pronouns: post.meta('pronouns'),
        title: post.meta('title'),
        department: post.meta('department'),
        phone: post.meta('phone'),
        curriculum_vitae: post.meta('curriculum_vitae'),
        email: post.meta('email'),
        location: post.meta('building'),
        office_hours: post.meta('office_hours'),
        address: post.meta('mailing_address'),
        fax: post.meta('fax'),
        bio: post.meta('bio'),
        hide_pronouns: post.meta('hide_pronouns'),
        hide_phone_number: post.meta('hide_phone_number'),
        hide_fax: post.meta('hide_fax'),
        hide_department: post.meta('hide_department'),
        hide_cv: post.meta('hide_cv'),
        hide_bio: post.meta('hide_bio'),
        hide_office_hours: post.meta('hide_office_hours'),
        hide_location: post.meta('hide_location'),
        hide_photo: post.meta('hide_photo'),
        hide_email: post.meta('hide_email'),
      } %}
      {% if person_decoded_courses %}
        {% set current_courses = person_decoded_courses|map(i => {
          title: i.crs,
          columns: [
            {
              column: i.title,
            },
            {
              column: i.sec,
            },
          ]
        }) %}
        <h2 class="font-extended font-normal text-24 leading-110 -tracking-3 text-indigo mb-10">Current Courses</h2>
        {% include 'table.twig' with {
          render_api: false,
          external_items: null,
          headings: [
            {
              heading: 'CRS',
            },
            {
              heading: 'Title',
            },
            {
              heading: 'Sec',
            }
          ],
          items: current_courses,
        } %}
      {% endif %}
      <div class="grid md:grid-cols-9 w-full">
        <div class="md:col-span-6">
          <div class="wysiwyg
            [&_h2]:font-extended [&_h2]:font-normal [&_h2]:text-24 [&_h2]:leading-110 [&_h2]:-tracking-3 [&_h2]:text-indigo [&_h2+p]:mt-2 [&_h2+ul]:mt-4 [&_h2+ol]:mt-4
            [&_h3]:font-extended [&_h3]:font-bold [&_h3]:text-18 [&_h3]:text-indigo [&_h3+p]:mt-2 [&_h3+ul]:mt-4 [&_h3+ol]:mt-4 [&_h3+table]:mt-5
            [&_h4]:font-extended [&_h4]:font-normal [&_h4]:text-20 [&_h4]:leading-110 [&_h4]:-tracking-3 [&_h4]:text-indigo [&_h4+p]:mt-2 [&_h4+ul]:mt-2 [&_h4+ol]:mt-2
            [&_h5]:font-extended [&_h5]:font-bold [&_h5]:text-14 [&_h5]:leading-130 [&_h5]:tracking-8 [&_h5]:text-azure [&_h5]:uppercase [&_h5+p]:mt-2 [&_h5+ul]:mt-2 [&_h5+ol]:mt-2
            [&_h6]:font-extended [&_h6]:font-bold [&_h6]:text-12 [&_h6]:tracking-8 [&_h6]:text-azure [&_h6]:uppercase [&_h6+p]:mt-2
            [&_p]:font-body [&_p]:font-normal [&_p]:text-16 [&_p]:leading-130 [&_p]:text-indigo-900
            [&_p>a]:underline hover:[&_p>a]:no-underline hover:[&_p>a]:text-indigo
            [&_ul+h2]:mt-20
            [&_ul>li]:font-body [&_ul>li]:font-normal [&_ul>li]:text-16 [&_ul>li]:leading-130 [&_ul>li]:text-indigo-900 [&_ul>li]:list-disc [&_ul>li]:list-outside [&_ul>li]:ml-3 [&_ul>li+li]:mt-2
            [&_ul>li>a]:underline hover:[&_ul>li>a]:no-underline hover:[&_ul>li>a]:text-indigo
            [&_ol+h2]:mt-20
            [&_ol>li]:font-body [&_ol>li]:font-normal [&_ol>li]:text-16 [&_ol>li]:leading-130 [&_ol>li]:text-indigo-900 [&_ol>li]:list-decimal [&_ol>li]:list-outside [&_ol>li]:ml-3 [&_ol>li+li]:mt-2
            [&_ol>li>a]:underline hover:[&_ol>li>a]:no-underline hover:[&_ol>li>a]:text-indigo
            [&_div+div]:mt-20 md:[&_div+div]:mt-[100px] [&_div+figure]:mt-20 md:[&_div+figure]:mt-[100px] [&_div+h2]:mt-16 md:[&_div+h2]:mt-20
            [&_figure+figure]:mt-20 md:[&_figure+figure]:mt-[100px] [&_figure+div]:mt-20 md:[&_figure+div]:mt-[100px] [&_figure+h2]:mt-16 md:[&_figure+h2]:mt-20
            [&_p+div]:mt-10 md:[&_p+div]:mt-[50px] [&_p+h2]:mt-20 [&_p+h3]:mt-6 [&_p+p]:mt-6 [&_p+ul]:mt-6 [&_p+table]:mt-10 md:[&_p+table]:mt-[50px]
            [&_hr]:border-t [&_hr]:border-solid [&_hr]:border-indigo-300 [&_hr]:my-16
          ">
            {% if post.meta('bio') and not post.meta('hide_bio') %}
              {{ post.meta('bio') }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}