{% if in_component_library %}
  {% set context = '@context' %}
{% else %}
  {% set context = 'context.twig' %}
{% endif %}

<div class="stat-group">
  <div class="stat-group__inner md:grid grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 space-y-24 my-0 mx-auto">
    <div class="stat-group__intro md:col-start-2 lg:col-start-3 md:col-span-10 lg:col-span-8">
      {% include context with {
        size: 'xlarge',
        align: 'center',
        subheading: subheading,
        heading: heading,
        paragraph: paragraph,
        buttons: {
          items: buttons,
        }
      } %}
    </div>
    <div class="stat-group__main col-span-12 lg:col-start-2 lg:col-span-10">
      <div class="grid grid-cols-8 gap-10">
        {% for item in items %}
          <div class="col-span-4 md:col-span-2 space-y-3">
            <h3 class="font-extended font-normal text-36 leading-100 -tracking-3 text-indigo">{{ item.heading }}</h3>
            <p class="font-body font-normal text-14 leading-130 text-indigo-900">{{ item.paragraph }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>