{% if in_component_library %}
  {% set wysiwyg = '@wysiwyg' %}
{% else %}
  {% set wysiwyg = 'wysiwyg.twig' %}
{% endif %}

<component
  class="accordion"
  is="accordion"
  v-slot="accordion"
  {% if single %}
    :single="{{ single }}"
  {% endif %}
>
<div class="colby-accordion-block">
  {% for item in panels %}
    <code v-pre>
    <article class="accordion__panel [&:nth-of-type(odd)>div>button]:bg-gray-100 " data-accordion-panel>
    </code>
    <div class="accordion__header">
      <button
          class="accordion__button flex items-center"
          data-accordion-button
          :aria-expanded="accordion.active.includes({{ loop.index0 }}) ? true : false"
          @click="accordion.toggleActive({{ loop.index0 }}, $event)"
      >
        <div class="mr-4">
            <svg data-accordion-icon-closed xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48" style="display:inline">
              <path d="M22.5 38V25.5H10v-3h12.5V10h3v12.5H38v3H25.5V38Z"/>
            </svg>
            <svg data-accordion-icon-open xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48" style="display:none"><path d="M10 25.5v-3h28v3Z"/></svg>
        </div>
        <div>
          <h3 class=" font-extended font-normal !text-16 leading-110 -tracking-3 text-indigo">
            {{ item.heading }}
          </h3>
          </div>
        </button>
      </div>
      <div
        class="accordion__window"
        data-accordion-window
      >
        <div
          class="accordion__content"
          data-accordion-content
        >
          <code v-pre>
          {% include wysiwyg with {
            post: {
              content: item.content
            }
          } %}
          </code>
        </div>
      </div>
    </article>
  {% endfor %}
  </div>
</component>