{% import "macros.twig" as macros %}

<div class="image-grid grid grid-cols-8 gap-10 max-w-screen-2xl w-full">
  {% for image in images %}
    <div class="image-grid__item col-span-8 {% if not (image_orientation == 'landscape') %}md:col-span-4{% endif %}">
      <div class="image-grid__image relative {% if image_orientation == 'landscape' %}pb-[69.04761904761905%] md:pb-[48.86363636363636%]{% elseif image_orientation == 'rectangle' %}pb-[69.04761904761905%]{% elseif image_orientation == 'portrait' %}pb-[152.63157894736844%]{% else %}pb-[100%]{% endif %}">
        {% if image_orientation == 'landscape' %}
          {{ macros.picture(
            'absolute w-full h-full object-cover',
            image.srcset,
            image.src,
            image.image.sizes.Landscape,
            image.image.sizes.Landscape_mobile,
            image.alt,
            in_component_library
          ) }}
        {% elseif image_orientation == 'portrait' %}
          {{ macros.picture(
            'absolute w-full h-full object-cover',
            image.srcset,
            image.src,
            image.image.sizes.Portrait,
            image.image.sizes.Portrait_mobile,
            image.alt,
            in_component_library
          ) }}
        {% else %}
          {{ macros.picture(
            'absolute w-full h-full object-cover',
            image.srcset,
            image.src,
            image.image.sizes.Square,
            image.image.sizes.Square_mobile,
            image.alt,
            in_component_library
          ) }}
        {% endif %}
      </div>
      {% if image.caption %}
        <p class="hero__caption font-body font-normal text-12 text-indigo-800 leading-140 mt-2">{{ image.caption }}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>