<ul class="absolute md:static top-0 right-5 {{ breakpoints }} bg-indigo-100 md:bg-transparent px-5 md:px-0 space-x-6">
  <li class="inline-block group font-body font-normal text-14 md:text-10 leading-110">
    <a class="flex py-2 text-indigo-800 group-hover:text-indigo-1000 group-hover:underline transition-all duration-200 ease-in-out" href="https://my.colby.edu/">
      <svg class="fill-indigo-500 group-hover:fill-indigo-700 w-[16px] md:w-[10px] mr-1.5 transition-all duration-200 ease-in-out" x="0" y="0" viewBox="0 0 14 15" style="enable-background:new 0 0 14 15" xml:space="preserve">
        <path d="M7 6c1.7 0 3-1.3 3-3S8.7 0 7 0 4 1.3 4 3s1.3 3 3 3zM0 15c0-3.9 3.1-7 7-7s7 3.1 7 7H0z"/>
      </svg>
      myColby
    </a>
  </li>
  <li class="inline-block group font-body font-normal text-14 md:text-10 leading-110">
    <modal
      :full="true"
      classes="w-screen h-screen top-0"
    >
      <template v-slot:content>
        <div class="md:grid md:grid-cols-12 w-full max-w-screen-2xl px-5 my-0 mx-auto md:mt-20 mt-16">
          <div class="md:col-span-12">
            <component is="search"></component>
          </div>
        </div>
      </template>
      <template
        v-slot:button
      >
        <span
          class="flex py-2 text-indigo-800 group-hover:text-indigo-1000 group-hover:underline transition-all duration-200 ease-in-out"
          href="/"
        >
          <svg class="fill-indigo-500 group-hover:fill-indigo-700 w-[17px] md:w-[12px] mr-1.5 transition-all duration-200 ease-in-out" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16">
            <path d="M6 2C3.8 2 2 3.8 2 6s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zM0 6c0-3.3 2.7-6 6-6s6 2.7 6 6c0 1.3-.4 2.5-1.1 3.5l4.8 4.8c.4.4.4 1 0 1.4-.4.4-1 .4-1.4 0l-4.8-4.8C8.5 11.6 7.3 12 6 12c-3.3 0-6-2.7-6-6z" style="fill-rule:evenodd; clip-rule:evenodd"/>
          </svg>
          Search
        </span>
      </template>
    </modal>
  </li>
</ul>