<component is="section-nav" class="section-nav py-6 bg-gray-100 overflow-x-auto !mt-0">
  <div class="section-nav__inner flex px-5 space-x-10 lg:justify-center">
    <h2 class="section-nav__heading font-extended font-bold text-14 md:text-12 tracking-8 text-azure uppercase whitespace-nowrap">
      In this section:
    </h2>
    <ul class="flex items-center space-x-7 pr-9 md:pr-0">
      {% for item in items %}
        <li class="font-body font-medium text-14 md:text-10 text-indigo-800 leading-130 whitespace-nowrap">
          <a class="text-indigo-800 hover:text-indigo hover:underline transition-all duration-200 ease-in-out" href="{{ item.link.url }}">{{ item.link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</component>