{% if in_component_library %}
  {% set context = '@context' %}
{% else %}
  {% set context = 'context.twig' %}
{% endif %}

{% set static = size == 'small' ? true : false %}

<div class="list-context">
  <div class="list-context__inner md:grid grid-cols-8 gap-10 max-w-screen-2xl w-full space-y-8 md:space-y-0">
    <div class="list-context__context md:col-span-5">
      {% include context with {
        size: 'small',
        static: static,
        subheading: subheading,
        heading: heading,
        paragraph: paragraph,
        buttons: {
          items: buttons,
        }
      } %}
    </div>
    <div class="list-context__main md:col-span-3">
      <ul class="list-context__list space-y-2 ml-4">
        {% for item in items %}
          <li class="font-body {% if size == 'small' %} font-semibold text-14 leading-130 {% else %} font-bold text-20 leading-120 {% endif %} text-indigo-600 list-disc">
            {% if item.link.url %}
              <a class="text-indigo hover:text-indigo-600 no-underline hover:underline transition-all duration-200 ease-in-out" href="{{ item.link.url }}">{{ item.link.title }}</a>
            {% else %}
              <span class="text-indigo">{{ item.title }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>