{% import "macros.twig" as macros %}

{% if in_component_library %}
  {% set videoComponent = '@video' %}
  {% set context = '@context' %}
{% else %}
  {% set videoComponent = 'video.twig' %}
  {% set context = 'context.twig' %}
{% endif %}

<div class="media-context max-w-screen-2xl w-full my-0 mx-auto">
  <div class="media-context__inner grid {% if inset %}grid-cols-12{% else %}grid-cols-8{% endif %} gap-10">
    <div class="media-context__image {% if inset %}{% if not reverse %}md:col-start-2{% endif %} col-span-12 md:col-span-5{% else %}col-span-8 md:col-span-4{% endif %}">
      {% if video.id %}
        {% include videoComponent with {
          video: video,
          image: image,
        } %}
      {% else %}
        {{ macros.picture(
          'w-full object-cover',
          image.srcset,
          image.src,
          image.sizes.Square,
          image.sizes.Square,
          image.alt,
          in_component_library
        ) }}
      {% endif %}
    </div>
    <div class="media-context__context md:flex md:items-center {% if reverse %}md:-order-1{% endif %} {% if inset %}{% if reverse %}md:col-start-2{% endif %} col-span-12 md:col-span-5{% else %}col-span-8 md:col-span-4{% endif %}">
      {% include context with {
        size: size ? size : 'medium',
        subheading: subheading,
        heading: heading,
        paragraph: paragraph,
        buttons: {
          items: buttons,
        }
      } %}
    </div>
  </div>
</div>