{% import "macros.twig" as macros %}

{% if in_component_library %}
  {% set context = '@context' %}
{% else %}
  {% set context = 'context.twig' %}
{% endif %}

<div class="facts-figures">
  <div class="facts-figures__inner relative md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto">
    <component is="animated-border" class="block col-span-12 w-0 h-px bg-azure"></component>
  </div>
  <div class="facts-figures__inner md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto">
    <div class="facts-figures__main md:col-start-6 lg:col-start-7 md:col-span-7 lg:col-span-6 mt-4">
      {% include context with {
        size: 'large',
        type: 'dark',
        arrow: true,
        reverse: true,
        heading: heading,
        paragraph: paragraph,
        buttons: {
          items: buttons,
        },
      } %}
    </div>
    <div class="facts-figures__image md:col-span-5 md:order-[-1] mt-12 md:mt-0">
      {{ macros.picture(
        'w-full h-full object-cover',
        image.srcset,
        image.src,
        image.sizes.Square,
        image.sizes.Square,
        image.alt,
        in_component_library
      ) }}
    </div>
  </div>
  <div class="facts-figures__inner relative md:grid md:grid-cols-12 gap-x-10 max-w-screen-2xl w-full px-5 my-0 mx-auto mt-12 md:mt-0">
    <div class="md:absolute md:bottom-0 md:col-start-6 lg:col-start-7 md:col-span-7 lg:col-span-6 pb-6 md:pb-8">
      <div class="grid grid-cols-6 gap-x-3 md:gap-x-10 max-w-screen-2xl w-full">
        {% for fact in facts %}
          <div class="facts-figures__figure col-span-2">
            <h3 class="font-extended font-normal text-24 text-indigo leading-115">{{ fact.figure }}</h3>
            <p class="font-body font-normal text-12 text-indigo-800 leading-140">{{ fact.paragraph }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    {# <component is="animated-border" class="block col-span-12 w-0 h-px bg-azure"></component> #}
  </div>
</div>