{% import "macros.twig" as macros %}

{% if in_component_library %}
  {% set buttonGroup = '@button-group' %}
{% else %}
  {% set buttonGroup = 'button-group.twig' %}
{% endif %}

<div class="full-bleed-image relative">
  <div class="relative full-bleed-image__image lg:h-[calc(100vh_-_100px)] overflow-hidden">
    {{ macros.picture(
      'w-full h-full object-cover',
      image.srcset,
      image.src,
      image.sizes.Hero,
      image.sizes.Square,
      image.alt,
      in_component_library
    ) }}
  </div>
  <div class="full-bleed-image__context md:absolute right-0 bottom-0 md:w-[520px] md:max-w-[50%] py-8 px-10 bg-indigo-200 space-y-4">
    <h2 class="font-extended font-bold text-14 leading-130 text-azure tracking-8 uppercase">{{ heading }}</h2>
    <p class="font-body font-normal text-16 leading-130 text-indigo-800 !mt-2">{{ paragraph }}</p>
    {% if buttons %}
      {% include buttonGroup with {
        size: 'medium',
        items: buttons,
      } %}
    {% endif %}
  </div>
</div>