.bento-result {
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    line-height: 150%;

    & + .bento-result {
        border-top: 1px solid #eee;
        padding: 15px 0 0;
        margin: 20px 0 0;
    }
}

.bento-result__author {
    font-size: .95em;
    line-height: 150%;

    a {
        color: #555;
    }
}

.bento-result__description {
    font-size: 83%;
    line-height: 1.4em;
    margin-bottom: 5px;
}

.bento-result__library-button--online {
    margin-right: 5px;
    color: white !important;
    background-color: #D87900;
    border-radius: 2px;
    font-weight: 600;
    line-height: 230%;
    opacity: .8;
    padding: 4px 5px 4px;
    font-size: 70%;
    white-space: nowrap;
    
    &:hover {
        opacity: .6;
    }
}

.bento-result__library-button--bates {
    margin-right: 5px;
    color: white !important;
    background-color: #881124;
    border-radius: 2px;
    font-weight: 600;
    line-height: 230%;
    opacity: .8;
    padding: 4px 5px 4px;
    font-size: 70%;
    white-space: nowrap;

    &:hover {
        opacity: .6;
    }
}

.bento-result__library-button--bowdoin {
    margin-right: 5px;
    color: white !important;
    background-color: #000;
    border-radius: 2px;
    font-weight: 600;
    line-height: 230%;
    opacity: .8;
    padding: 4px 5px 4px;
    font-size: 70%;
    white-space: nowrap;

    &:hover {
        opacity: .6;
    }
}

.bento-result__library-button--colby {
    margin-right: 5px;
    color: white !important;
    background-color: #002878;
    border-radius: 2px;
    font-weight: 600;
    line-height: 230%;
    opacity: .8;
    padding: 4px 5px 4px;
    font-size: 70%;
    white-space: nowrap;

    &:hover {
        opacity: .6;
    }
}

.bento-result__publication {
    font-size: 90%;
    line-height: 1.5;
    margin: 2px 0 4px;
}

.bento-result__source {
    font-size: 90%;
    line-height: 1.5;
    margin: 2px 0 4px;
}

.bento-result__thumbnail-container {
    display: inline-block;
    float: right;
    max-width: 90px;
    margin: 0 0 5px 5px;

    img {
        width: 100%;
        height: auto;
    }
}

.bento-result__title {
    font-size: 100%;
    font-weight: 500;
    line-height: 130%;
    margin: 5px 0 2px;
}
